.com-icon-text {
    display: flex;
    flex-direction: row;
    animation-name: fadeInLeft;

    h4 {
        font-family:var(--font-titles);
        font-size: 22px;
        font-weight: bold;
        margin-bottom:10px;
    }   

    p {
        color:var(--grey);
        font-size: 14px;
        line-height:18px;
    }

    [class^="icon-"], 
    [class*=" icon-"] {
        font-size: 35px;
        padding-right: 7px;
        color: var(--grey);
    }
}
