.mod-menu {
    display: flex;
    flex-direction: row;

    a {
        text-transform: uppercase;
        padding: 0 10px;
        font-weight: normal;
        color: var(--white);

        &.active {
            font-weight: 600;
            position: relative;

            &:before {
                content: " ";
                border-bottom: 1px solid var(--white);
                width: 38%;
                margin: auto;
                height: 1px;
                text-align: center;
                position: absolute;
                bottom: -6px;
                left: 30%;
            }
        }
    }

}

@media screen and (max-width:650px) {
    .mod-menu {
        &.open {
            display: flex;
        }

        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background: white;
        left: 0;
        text-align: center;
        top:66px;
        padding: 10px 5px;

        a {
            color: var(--text);
            padding: 10px 0;

            &:before {
                display:none;
            }
        }

    }
}

@media screen and (min-width:651px) and (max-width:1023px) {
    .mod-menu {
        a {
            font-size: 14px;
            padding: 0 7;
        }
    }
}
