:root {
/* COLORES */
 --primary: #4D4D4D;
 --secondary: #CBC9BE;
 --third:#EFEDE1;
 --text: #707070;
 --grey: #A3A9B2;
 --white: #FFF;
 --black: #000;

/* end Colores */

 --font-titles: 'Playfair Display', serif;
 --font-default:  'Open Sans', sans-serif;
}


@font-face {
  font-family: 'icomoon';
  src:  url('./../assets/fonts/icomoon.eot');
  src:  url('./../assets/fonts/icomoon.eot') format('embedded-opentype'),
    url('./../assets/fonts/icomoon.ttf') format('truetype'),
    url('./../assets/fonts/icomoon.woff') format('woff'),
    url('./../assets/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e90e";
}
.icon-sauna:before {
  content: "\e90d";
}
.icon-plant:before {
  content: "\e906";
}
.icon-facial-mask:before {
  content: "\e907";
}
.icon-sun:before {
  content: "\e908";
}
.icon-coffee:before {
  content: "\e909";
}
.icon-shower:before {
  content: "\e90a";
}
.icon-pool:before {
  content: "\e90b";
}
.icon-pool-2:before {
  content: "\e90c";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-w-solid:before {
  content: "\e901";
}
.icon-w-outline:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-logo:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e90f";
}
.icon-clock:before {
  content: "\e910";
}
.icon-mail:before {
  content: "\e911";
}
.icon-map:before {
  content: "\e912";
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-default);
  color:var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

[class^="lay"],
[class*=" lay"] {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 767px) {
    [class^="lay"],
    [class*=" lay"] {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 768px) {
    [class^="lay"],
    [class*=" lay"] {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (min-width:1024px) {
    [class^="lay"],
    [class*=" lay"] {
        max-width: 1340px;
        padding-right: 40px;
        padding-left: 40px;
    }
}




.container-full-width {
    padding-left: 0;
    padding-right: 0;
}


/********** LAYOUTS **********/
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 3.125em 0;
}

.row.no-gap {
  margin: 0;
}

.row.mod-img-grid {
  margin-bottom: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12, .col-mobile,
.col-mobile-auto, .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12, .col-tablet,
.col-tablet-auto, .col-desksm-1, .col-desksm-2, .col-desksm-3, .col-desksm-4, .col-desksm-5, .col-desksm-6, .col-desksm-7, .col-desksm-8, .col-desksm-9, .col-desksm-10, .col-desksm-11, .col-desksm-12, .col-desksm,
.col-desksm-auto, .col-deskxl-1, .col-deskxl-2, .col-deskxl-3, .col-deskxl-4, .col-deskxl-5, .col-deskxl-6, .col-deskxl-7, .col-deskxl-8, .col-deskxl-9, .col-deskxl-10, .col-deskxl-11, .col-deskxl-12, .col-deskxl,
.col-deskxl-auto {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-tablet {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-tablet-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-tablet-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-tablet-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-tablet-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-tablet-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-tablet-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-tablet-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-tablet-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-tablet-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-tablet-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-tablet-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-tablet-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-tablet-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

ul {
  list-style-type: none;
}

.right {
  text-align: right;
}

.container {
  padding:50px 0;
}