.dashboard-container {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
    padding: 32px;
    width: 100%;
    margin:32px 0;
  }

  .dashboard-title {
    padding-bottom:24px;
  }