.mod-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
}

.mod-section:last-of-type{
    padding-bottom:0
}


@media screen and (max-width:1023px) {
    .mod-section {
        padding:0;
    }
}

.services {
    display:flex;
    flex-direction: row;
    padding: 24px 0;
}

